<div class="film-header jumbotron jumbotron-fluid">
  <div class="container">
    <h1>N'allez plus au cinéma tout seul!</h1>

    <%= link_to 'Accéder aux films', films_path, class:'header-btn btn btn-lg' %>
  </div>
</div>
