/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "variables/personal_variables";
 @import "variables/bootstrap_variables";
 @import "bootstrap";
 @import "components/*";
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');




 body {
   margin-bottom: 600px;
   height:100%;
   width:100%;
   margin:0;
   padding:0;
 }


 .searchbar {
   // margin:0 auto;
   margin: 100px auto 0px auto;
   padding:0 40px;
   min-height:100%;
   height: auto;
   background: pink;
 }
