<!DOCTYPE html>
<html>
  <head>
    <title>Ensembleaucinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">

  </head>

  <body>

    <%= yield %>

  </body>
</html>
